Repository WebProject16/React_ClimateVisualizations, pull requests merged in 2022-11, with the labels that each got.

#27 Created a functional registration form
  backend/controllers/userController.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/API/request.js
  frontend/src/App.js
  frontend/src/Components/Footer.js
  frontend/src/Components/Navbar.js
  frontend/src/Components/Register.js
  frontend/src/config/default.json
  frontend/src/index.css
Labels: Frontend

#39 Added a route guard component, login form and authenticated get function
  frontend/src/API/request.js
  frontend/src/App.js
  frontend/src/Components/Create.js
  frontend/src/Components/Home.js
  frontend/src/Components/Login.js
  frontend/src/Components/Register.js
  frontend/src/Components/RouteGuard.js
Labels: Frontend

#48 40 loginregisterhide
  README.md
  frontend/src/App.js
  frontend/src/Components/Login.js
  frontend/src/Components/LoginContext.js
  frontend/src/Components/LogoutHandler.js
  frontend/src/Components/Navbar.js
  package-lock.json
  package.json
Labels: enhancement, Frontend

#52 47 tests
  backend/app.js
  backend/controllers/userController.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/tests/register.test.js
Labels: Backend

#59 57 login test
  backend/package.json
  backend/tests/login.test.js
  backend/tests/register.test.js
Labels: Backend, Test

#70 62 vis page v5
  frontend/src/App.js
  frontend/src/Components/Navbar.js
  frontend/src/Components/visualizations/V5.js
Labels: Frontend

#72 71 sanitize user inputs
  backend/app.js
  backend/controllers/userController.js
  backend/models/userModel.js
  backend/package-lock.json
  backend/package.json
  backend/routes/chartRoutes.js
  backend/routes/testAuthRoutes.js
  backend/tests/login.test.js
  backend/tests/register.test.js
Labels: enhancement, Backend, Test
